# Python & Virtual Environments
__pycache__/
*.pyc
.venv/
.env
venv/

# Tool Caches (Added)
.ruff_cache/
.black_cache/
.pytest_cache/
.mypy_cache/

# Streamlit
.streamlit/secrets.toml

# Models & Data
models/*.joblib
models/*.json
models/*.pkl
models/*.txt
models/*.csv
models/*.keras
.DS_Store
/data
/models
.env

PRESENTATION.md
